body {
  background: #170020;
  /*pre loader*/
  /* SPIN CLOCKWISE */
  /* SPIN ANTI-CLOCKWISE */
  /* MASKS */
  /* MASKS 2 */
  /* Spinning Oogah Masks !! */
  /*eyes*/
  /* control */
  /* eye */
  /* blue eye and shadow */
  /* eye inside (black) */
  /* hovers to change eye-inside position */
  /* eye 1 line 1 */
  /* line 2 */
  /* line 3*/
  /* line 4 */
  /* line 5 */
  /* eye 2 line 1 */
  /* line 2 */
  /* line 3*/
  /* line 4 */
  /* line 5 */
  /* Using SCSS variables to store breakpoints */
  /* Touch support */
  /* eye 1 line 1 */
  /* line 2 */
  /* line 3*/
  /* line 4 */
  /* line 5 */
  /* eye 2 line 1 */
  /* line 2 */
  /* line 3*/
  /* line 4 */
  /* line 5 */
  /* Using SCSS variables to store breakpoints */
  /* text */
  /* logo */
  /* logo */ }
  body .signature {
    display: block;
    position: absolute;
    bottom: 0.2%;
    right: 0.2%;
    z-index: 4; }
    body .signature a {
      color: white;
      font-size: 11px;
      font-family: 'Gaegu', cursive, Impact, Arial;
      text-decoration: none;
      opacity: 0.3; }
  body .burger {
    z-index: 3;
    position: absolute;
    right: 28px;
    top: 30px;
    display: inline-block;
    border: 0;
    background: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    border-bottom: 4px solid #fff;
    width: 28px;
    transition: border-bottom 1s ease-in-out;
    -webkit-transition: border-bottom 1s ease-in-out; }
    body .burger::-moz-focus-inner {
      border: 0;
      padding: 0; }
    body .burger:before {
      content: "";
      display: block;
      border-bottom: 4px solid #fff;
      width: 100%;
      margin-bottom: 5px;
      transition: transform 0.5s ease-in-out;
      -webkit-transition: -webkit-transform 0.5s ease-in-out; }
    body .burger:after {
      content: "";
      display: block;
      border-bottom: 4px solid #fff;
      width: 100%;
      margin-bottom: 5px;
      transition: transform 0.5s ease-in-out;
      -webkit-transition: -webkit-transform 0.5s ease-in-out; }
  body .burger-check {
    display: none; }
  body .burger-check:checked ~ .burger {
    color: black;
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.8s ease-in-out;
    -webkit-transition: border-bottom 0.8s ease-in-out; }
    body .burger-check:checked ~ .burger:before {
      border-bottom: 4px solid black;
      transform: rotate(-405deg) translateY(1px) translateX(-3px);
      -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
      transition: transform 0.5s ease-in-out;
      -webkit-transition: -webkit-transform 0.5s ease-in-out; }
    body .burger-check:checked ~ .burger:after {
      border-bottom: 4px solid black;
      transform: rotate(405deg) translateY(-4px) translateX(-5px);
      -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
      transition: transform 0.5s ease-in-out;
      -webkit-transition: -webkit-transform 0.5s ease-in-out; }

@-webkit-keyframes slide1 {
  0% {
    -webkit-transform: translateY(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0px);
    opacity: 1; } }

@-moz-keyframes spin1 {
  0% {
    -moz-transform: translateY(-50px);
    opacity: 0; }
  100% {
    -moz-transform: translateY(0px);
    opacity: 1; } }

@-o-keyframes spin1 {
  0% {
    -o-transform: translateY(-50px);
    opacity: 0; }
  100% {
    -o-transform: translateY(0px);
    opacity: 1; } }

@-ms-keyframes spin1 {
  body 0% {
    -ms-transform: translateY(-50px);
    opacity: 0; }
  body 100% {
    -ms-transform: translateY(0px);
    opacity: 1; } }

@-keyframes spin1 {
  body 0% {
    transform: translateY(-50px);
    opacity: 0; }
  body 100% {
    transform: translateY(0px);
    opacity: 1; } }
  body .navigation {
    overflow: hidden;
    max-height: 0;
    position: absolute;
    background: white;
    z-index: 2;
    right: 0; }
    body .navigation ul {
      padding-top: 50px;
      padding-right: 32px; }
      body .navigation ul li {
        list-style: none;
        text-align: right; }
        body .navigation ul li a {
          font-family: 'Gaegu', cursive, Impact, Arial;
          text-decoration: none;
          font-size: 22px;
          color: black; }
          body .navigation ul li a:hover {
            color: #8338b5; }
  body .burger-check:checked ~ .navigation {
    min-height: 100%;
    border-left: 2px solid black;
    -webkit-animation: slide1 0.5s forwards;
    -webkit-animation-delay: 0s;
    animation: slide1 0.5s forwards;
    animation-delay: 0s; }
  body .preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #170020;
    visibility: hidden;
    opacity: 0;
    /*     transform:all 0.5s ease;*/
    z-index: 99999999999999; }
  body .preloader_inner {
    background: #170020;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 4em;
    height: 4em;
    line-height: 4em;
    text-align: center;
    font-size: 3em;
    font-family: 'Gaegu', cursive, Impact, Arial;
    font-weight: 300;
    color: #fff; }
  body .page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: auto;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease; }
  body .show {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease; }
  body .Crop-App-to-bg {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    padding-bottom: 174%; }
  body .App-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  body .spin-triangle {
    margin-top: 42%;
    display: block;
    position: absolute;
    top: 0;
    left: 6.5%;
    width: 90%;
    -webkit-animation: spin1 10s infinite linear;
    -moz-animation: spin1 10s infinite linear;
    -o-animation: spin1 10s infinite linear;
    -ms-animation: spin1 10s infinite linear;
    animation: spin1 10s infinite linear;
    display: block; }

@-webkit-keyframes spin1 {
  0% {
    -webkit-transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(0deg); } }

@-moz-keyframes spin1 {
  0% {
    -moz-transform: rotate(360deg); }
  100% {
    -moz-transform: rotate(0deg); } }

@-o-keyframes spin1 {
  0% {
    -o-transform: rotate(360deg); }
  100% {
    -o-transform: rotate(0deg); } }

@-ms-keyframes spin1 {
  body 0% {
    -ms-transform: rotate(360deg); }
  body 100% {
    -ms-transform: rotate(0deg); } }

@-keyframes spin1 {
  body 0% {
    transform: rotate(360deg); }
  body 100% {
    transform: rotate(0deg); } }

@-webkit-keyframes spin2 {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spin2 {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@-o-keyframes spin2 {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(360deg); } }

@-ms-keyframes spin2 {
  body 0% {
    -ms-transform: rotate(0deg); }
  body 100% {
    -ms-transform: rotate(360deg); } }

@-keyframes spin2 {
  body 0% {
    transform: rotate(0deg); }
  body 100% {
    transform: rotate(360deg); } }
  body .planet-1 {
    padding-bottom: 124%;
    display: block;
    position: absolute;
    top: 4%;
    left: 40%;
    width: 20%;
    -webkit-animation: spin1 30s infinite linear;
    -moz-animation: spin1 30s infinite linear;
    -o-animation: spin1 30s infinite linear;
    -ms-animation: spin1 30s infinite linear;
    animation: spin1 30s infinite linear;
    display: block; }
  body .planet-2 {
    padding-bottom: 152%;
    display: block;
    position: absolute;
    top: -10%;
    left: 45%;
    width: 10%;
    -webkit-animation: spin2 30s infinite linear;
    -moz-animation: spin2 30s infinite linear;
    -o-animation: spin2 30s infinite linear;
    -ms-animation: spin2 30s infinite linear;
    animation: spin2 30s infinite linear;
    display: block; }
  body .planet-3 {
    padding-bottom: 142%;
    display: block;
    position: absolute;
    top: 9%;
    left: 40%;
    width: 20%;
    -webkit-animation: spin1 36s infinite linear;
    -moz-animation: spin1 36s infinite linear;
    -o-animation: spin1 36s infinite linear;
    -ms-animation: spin1 36s infinite linear;
    animation: spin1 36s infinite linear;
    display: block; }
  body .planet-4 {
    padding-bottom: 124%;
    display: block;
    position: absolute;
    top: 4%;
    left: 40%;
    width: 20%;
    -webkit-animation: spin1 48s infinite linear;
    -moz-animation: spin1 48s infinite linear;
    -o-animation: spin1 48s infinite linear;
    -ms-animation: spin1 48s infinite linear;
    animation: spin1 48s infinite linear;
    display: block; }
  body .planet-5 {
    padding-bottom: 122%;
    display: block;
    position: absolute;
    top: 0%;
    left: 42%;
    width: 16%;
    -webkit-animation: spin2 54s infinite linear;
    -moz-animation: spin2 54s infinite linear;
    -o-animation: spin2 54s infinite linear;
    -ms-animation: spin2 54s infinite linear;
    animation: spin2 54s infinite linear;
    display: block; }
  body .planet-6 {
    padding-bottom: 102%;
    display: block;
    position: absolute;
    top: 10%;
    left: 38%;
    width: 24%;
    -webkit-animation: spin2 48s infinite linear;
    -moz-animation: spin2 48s infinite linear;
    -o-animation: spin2 48s infinite linear;
    -ms-animation: spin2 48s infinite linear;
    animation: spin2 48s infinite linear;
    display: block; }
  body .planet-7 {
    padding-bottom: 64%;
    display: block;
    position: absolute;
    top: 20%;
    left: 40%;
    width: 20%;
    -webkit-animation: spin2 72s infinite linear;
    -moz-animation: spin2 72s infinite linear;
    -o-animation: spin2 72s infinite linear;
    -ms-animation: spin2 72s infinite linear;
    animation: spin2 72s infinite linear;
    display: block; }
  body .planet-8 {
    padding-bottom: 120%;
    display: block;
    position: absolute;
    top: 8%;
    left: 40%;
    width: 20%;
    -webkit-animation: spin2 72s infinite linear;
    -moz-animation: spin2 72s infinite linear;
    -o-animation: spin2 72s infinite linear;
    -ms-animation: spin2 72s infinite linear;
    animation: spin2 72s infinite linear;
    display: block; }
  body .planet-9 {
    padding-bottom: 102%;
    display: block;
    position: absolute;
    top: 8%;
    left: 40%;
    width: 10%;
    -webkit-animation: spin1 72s infinite linear;
    -moz-animation: spin1 72s infinite linear;
    -o-animation: spin1 72s infinite linear;
    -ms-animation: spin1 72s infinite linear;
    animation: spin1 72s infinite linear;
    display: block; }

@-webkit-keyframes maskSpin1 {
  0% {
    top: 5%;
    opacity: 0.25; }
  25% {
    top: 8%;
    opaciy: 0.5; }
  75% {
    top: 4%;
    opaciy: 0.75; }
  100% {
    top: 5%;
    opaciy: 0.5; } }

@-webkit-keyframes maskSpin2 {
  0% {
    top: 5%;
    opacity: 0.25; }
  25% {
    top: 4%;
    opaciy: 0.5; }
  75% {
    top: 8%;
    opaciy: 0.75; }
  100% {
    top: 5%;
    opaciy: 0.5; } }
  body .ooga-1 {
    position: absolute;
    padding-top: 151%;
    left: 2%;
    width: 4%;
    display: block;
    animation: maskSpin1 3s infinite linear;
    animation-direction: alternate; }
  body .ooga-2 {
    position: absolute;
    padding-top: 151%;
    left: 10%;
    width: 4.5%;
    display: block;
    animation: maskSpin2 3s infinite linear;
    animation-direction: alternate; }
  body .ooga-3 {
    position: absolute;
    padding-top: 151%;
    left: 25%;
    width: 6%;
    display: block;
    animation: maskSpin1 3s infinite linear;
    animation-direction: alternate; }
  body .ooga-4 {
    position: absolute;
    padding-top: 151%;
    left: 38%;
    width: 3%;
    display: block;
    animation: maskSpin2 3s infinite linear;
    animation-direction: alternate; }
  body .ooga-5 {
    position: absolute;
    padding-top: 151%;
    left: 56%;
    width: 6%;
    display: block;
    animation: maskSpin1 3s infinite linear;
    animation-direction: alternate; }
  body .ooga-6 {
    position: absolute;
    padding-top: 151%;
    left: 68%;
    width: 5%;
    display: block;
    animation: maskSpin2 3s infinite linear;
    animation-direction: alternate; }
  body .ooga-7 {
    position: absolute;
    padding-top: 151%;
    left: 85%;
    width: 3%;
    display: block;
    animation: maskSpin1 3s infinite linear;
    animation-direction: alternate; }
  body .ooga-8 {
    position: absolute;
    padding-top: 151%;
    left: 94%;
    width: 3%;
    display: block;
    animation: maskSpin2 3s infinite linear;
    animation-direction: alternate; }
  body .ooga-spin-1 {
    position: absolute;
    padding-bottom: 102%;
    display: block;
    left: 48.5%;
    width: 4%;
    -webkit-animation: spin1 72s infinite linear;
    -moz-animation: spin1 72s infinite linear;
    -o-animation: spin1 72s infinite linear;
    -ms-animation: spin1 72s infinite linear;
    animation: spin1 72s infinite linear; }
  body .ooga-spin-2 {
    position: absolute;
    padding-bottom: 83%;
    display: block;
    left: 47.8%;
    width: 4.5%;
    top: 10%;
    -webkit-animation: spin2 72s infinite linear;
    -moz-animation: spin2 72s infinite linear;
    -o-animation: spin2 72s infinite linear;
    -ms-animation: spin2 72s infinite linear;
    animation: spin2 72s infinite linear; }
  body .ooga-spin-3 {
    position: absolute;
    padding-bottom: 102%;
    display: block;
    left: 47%;
    width: 6%;
    top: 20%;
    -webkit-animation: spin1 72s infinite linear;
    -moz-animation: spin1 72s infinite linear;
    -o-animation: spin1 72s infinite linear;
    -ms-animation: spin1 72s infinite linear;
    animation: spin1 72s infinite linear; }
  body .ooga-spin-4 {
    position: absolute;
    padding-bottom: 82%;
    display: block;
    left: 48.5%;
    width: 3%;
    top: 30%;
    -webkit-animation: spin2 72s infinite linear;
    -moz-animation: spin2 72s infinite linear;
    -o-animation: spin2 72s infinite linear;
    -ms-animation: spin2 72s infinite linear;
    animation: spin2 72s infinite linear; }
  body .ooga-spin-5 {
    position: absolute;
    padding-bottom: 102%;
    display: block;
    left: 47%;
    width: 6%;
    top: 40%;
    -webkit-animation: spin1 72s infinite linear;
    -moz-animation: spin1 72s infinite linear;
    -o-animation: spin1 72s infinite linear;
    -ms-animation: spin1 72s infinite linear;
    animation: spin1 72s infinite linear; }
  body .ooga-spin-6 {
    position: absolute;
    padding-bottom: 102%;
    display: block;
    left: 47.4%;
    width: 5%;
    top: 50%;
    -webkit-animation: spin2 72s infinite linear;
    -moz-animation: spin2 72s infinite linear;
    -o-animation: spin2 72s infinite linear;
    -ms-animation: spin2 72s infinite linear;
    animation: spin2 72s infinite linear; }
  body .ooga-spin-7 {
    position: absolute;
    padding-bottom: 102%;
    display: block;
    left: 48.4%;
    width: 3%;
    top: 60%;
    -webkit-animation: spin1 72s infinite linear;
    -moz-animation: spin1 72s infinite linear;
    -o-animation: spin1 72s infinite linear;
    -ms-animation: spin1 72s infinite linear;
    animation: spin1 72s infinite linear; }
  body .ooga-spin-8 {
    position: absolute;
    padding-bottom: 102%;
    display: block;
    left: 48.5%;
    width: 3%;
    top: 70%;
    -webkit-animation: spin2 72s infinite linear;
    -moz-animation: spin2 72s infinite linear;
    -o-animation: spin2 72s infinite linear;
    -ms-animation: spin2 72s infinite linear;
    animation: spin2 72s infinite linear; }
  body .main-content {
    position: absolute;
    padding-top: 14%;
    left: 5%;
    width: 90%;
    display: block; }
  body .left-feather {
    position: absolute;
    padding-top: 14.4%;
    left: 8.8%;
    width: 20%;
    display: block; }
  body .right-feather {
    transform: rotateY(-180deg);
    position: absolute;
    padding-top: 14.2%;
    left: 71.6%;
    width: 20%;
    display: block; }
  body .eyebrows {
    position: absolute;
    padding-top: 31.4%;
    left: 42%;
    width: 16%;
    display: block; }
  body .control-cnt {
    position: absolute;
    width: 100%;
    height: 100%; }
  body .control {
    position: relative;
    width: 19.7%;
    height: 10%;
    float: left;
    z-index: 1;
    /* border: 1px solid red;*/ }
  body .eye {
    position: absolute;
    padding-top: 32%;
    width: 2.7%;
    height: 2.7%;
    left: 44.6%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  body .eye2 {
    position: absolute;
    padding-top: 32%;
    width: 2.7%;
    height: 2.7%;
    left: 52.6%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  body .eye-inside-cnt {
    position: absolute;
    width: 100%;
    height: 34%; }
  body .eye-inside {
    width: 100%;
    height: 24%;
    background-color: #d8ba00;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden; }
  body .eye-really-inside {
    width: 80%;
    height: 74%;
    margin-top: 1%;
    margin-left: 1%;
    background-color: #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    transition: 0.1s linear; }
  body .hover-1:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: -3px;
    margin-left: -4px; }
  body .hover-2:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: -3px;
    margin-left: -2px; }
  body .hover-3:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: -3px;
    margin-left: 2px; }
  body .hover-4:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: -3px;
    margin-left: 6px; }
  body .hover-5:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: -3px;
    margin-left: 9px; }
  body .hover-6:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: 2px;
    margin-left: -4px; }
  body .hover-7:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: 2px;
    margin-left: -2px; }
  body .hover-8:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: 0px;
    margin-left: 0px; }
  body .hover-9:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: 2px;
    margin-left: 6px; }
  body .hover-10:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: 2px;
    margin-left: 9px; }
  body .hover-11:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: 6px;
    margin-left: -4px; }
  body .hover-12:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: 6px;
    margin-left: -2px; }
  body .hover-13:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: 6px;
    margin-left: 2px; }
  body .hover-14:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: 6px;
    margin-left: 6px; }
  body .hover-15:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: 6px;
    margin-left: 9px; }
  body .hover-16:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: 9px;
    margin-left: -4px; }
  body .hover-17:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: 9px;
    margin-left: -2px; }
  body .hover-18:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: 9px;
    margin-left: 2px; }
  body .hover-19:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: 9px;
    margin-left: 6px; }
  body .hover-20:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: 9px;
    margin-left: 9px; }
  body .hover-21:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: 11px;
    margin-left: -4px; }
  body .hover-22:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: 11px;
    margin-left: -2px; }
  body .hover-23:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: 11px;
    margin-left: 3px; }
  body .hover-24:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: 11px;
    margin-left: 6px; }
  body .hover-25:hover ~ .eye .eye-inside .eye-really-inside {
    margin-top: 11px;
    margin-left: 9px; }
  body .hover-1:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: -3px;
    margin-left: -4px; }
  body .hover-2:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: -3px;
    margin-left: -2px; }
  body .hover-3:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: -3px;
    margin-left: 2px; }
  body .hover-4:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: -3px;
    margin-left: 6px; }
  body .hover-5:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: -3px;
    margin-left: 9px; }
  body .hover-6:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 2px;
    margin-left: -4px; }
  body .hover-7:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 2px;
    margin-left: -2px; }
  body .hover-8:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 0px;
    margin-left: 0px; }
  body .hover-9:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 2px;
    margin-left: 6px; }
  body .hover-10:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 2px;
    margin-left: 9px; }
  body .hover-11:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 6px;
    margin-left: -4px; }
  body .hover-12:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 6px;
    margin-left: -2px; }
  body .hover-13:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 6px;
    margin-left: 2px; }
  body .hover-14:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 6px;
    margin-left: 6px; }
  body .hover-15:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 6px;
    margin-left: 9px; }
  body .hover-16:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 9px;
    margin-left: -4px; }
  body .hover-17:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 9px;
    margin-left: -2px; }
  body .hover-18:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 9px;
    margin-left: 2px; }
  body .hover-19:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 9px;
    margin-left: 6px; }
  body .hover-20:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 9px;
    margin-left: 9px; }
  body .hover-21:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 11px;
    margin-left: -4px; }
  body .hover-22:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 11px;
    margin-left: -2px; }
  body .hover-23:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 11px;
    margin-left: 3px; }
  body .hover-24:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 11px;
    margin-left: 6px; }
  body .hover-25:hover ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 11px;
    margin-left: 9px; }
  @media (max-width: 768px) {
    body {
      /* line 2 */
      /* line 3*/
      /* line 4 */
      /* line 5 */
      /* line 2 */
      /* line 3*/
      /* line 4 */
      /* line 5 */ }
      body .control {
        width: 18.7%;
        height: 10%; }
      body .hover-1:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: -1.5px;
        margin-left: -2px; }
      body .hover-2:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: -1.5px;
        margin-left: -1px; }
      body .hover-3:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: -1.5px;
        margin-left: 1px; }
      body .hover-4:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: -1.5px;
        margin-left: 3px; }
      body .hover-5:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: -1.5px;
        margin-left: 4.5px; }
      body .hover-6:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: 1px;
        margin-left: -2px; }
      body .hover-7:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: 1px;
        margin-left: -1px; }
      body .hover-8:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: 0px;
        margin-left: 0px; }
      body .hover-9:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: 1px;
        margin-left: 3px; }
      body .hover-10:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: 1px;
        margin-left: 4.5px; }
      body .hover-11:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: 3px;
        margin-left: -2px; }
      body .hover-12:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: 3px;
        margin-left: -1px; }
      body .hover-13:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: 3px;
        margin-left: 1px; }
      body .hover-14:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: 3px;
        margin-left: 3px; }
      body .hover-15:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: 3px;
        margin-left: 4.5px; }
      body .hover-16:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: 4.5px;
        margin-left: -2px; }
      body .hover-17:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: 4.5px;
        margin-left: -1px; }
      body .hover-18:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: 4.5px;
        margin-left: 1px; }
      body .hover-19:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: 4.5px;
        margin-left: 3px; }
      body .hover-20:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: 4.5px;
        margin-left: 4.5px; }
      body .hover-21:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: 5.5px;
        margin-left: -2px; }
      body .hover-22:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: 5.5px;
        margin-left: -1px; }
      body .hover-23:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: 5.5px;
        margin-left: 1.5px; }
      body .hover-24:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: 5.5px;
        margin-left: 3px; }
      body .hover-25:hover ~ .eye .eye-inside .eye-really-inside {
        margin-top: 5.5px;
        margin-left: 4.5px; }
      body .hover-1:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: -1.5px;
        margin-left: -2px; }
      body .hover-2:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: -1.5px;
        margin-left: -1px; }
      body .hover-3:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: -1.5px;
        margin-left: 1px; }
      body .hover-4:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: -1.5px;
        margin-left: 3px; }
      body .hover-5:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: -1.5px;
        margin-left: 4.5px; }
      body .hover-6:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 1px;
        margin-left: -2px; }
      body .hover-7:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 1px;
        margin-left: -1px; }
      body .hover-8:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 0px;
        margin-left: 0px; }
      body .hover-9:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 1px;
        margin-left: 3px; }
      body .hover-10:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 1px;
        margin-left: 4.5px; }
      body .hover-11:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 3px;
        margin-left: -2px; }
      body .hover-12:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 3px;
        margin-left: -1px; }
      body .hover-13:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 3px;
        margin-left: 1px; }
      body .hover-14:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 3px;
        margin-left: 3px; }
      body .hover-15:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 3px;
        margin-left: 4.5px; }
      body .hover-16:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 4.5px;
        margin-left: -2px; }
      body .hover-17:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 4.5px;
        margin-left: -1px; }
      body .hover-18:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 4.5px;
        margin-left: 1px; }
      body .hover-19:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 4.5px;
        margin-left: 3px; }
      body .hover-20:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 4.5px;
        margin-left: 4.5px; }
      body .hover-21:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 5.5px;
        margin-left: -2px; }
      body .hover-22:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 5.5px;
        margin-left: -1px; }
      body .hover-23:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 5.5px;
        margin-left: 1.5px; }
      body .hover-24:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 5.5px;
        margin-left: 3px; }
      body .hover-25:hover ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 5.5px;
        margin-left: 4.5px; } }
  body .hover-1:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: -3px;
    margin-left: -4px; }
  body .hover-2:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: -3px;
    margin-left: -2px; }
  body .hover-3:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: -3px;
    margin-left: 2px; }
  body .hover-4:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: -3px;
    margin-left: 6px; }
  body .hover-5:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: -3px;
    margin-left: 9px; }
  body .hover-6:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: 2px;
    margin-left: -4px; }
  body .hover-7:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: 2px;
    margin-left: -2px; }
  body .hover-8:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: 0px;
    margin-left: 0px; }
  body .hover-9:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: 2px;
    margin-left: 6px; }
  body .hover-10:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: 2px;
    margin-left: 9px; }
  body .hover-11:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: 6px;
    margin-left: -4px; }
  body .hover-12:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: 6px;
    margin-left: -2px; }
  body .hover-13:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: 6px;
    margin-left: 2px; }
  body .hover-14:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: 6px;
    margin-left: 6px; }
  body .hover-15:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: 6px;
    margin-left: 9px; }
  body .hover-16:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: 9px;
    margin-left: -4px; }
  body .hover-17:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: 9px;
    margin-left: -2px; }
  body .hover-18:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: 9px;
    margin-left: 2px; }
  body .hover-19:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: 9px;
    margin-left: 6px; }
  body .hover-20:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: 9px;
    margin-left: 9px; }
  body .hover-21:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: 11px;
    margin-left: -4px; }
  body .hover-22:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: 11px;
    margin-left: -2px; }
  body .hover-23:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: 11px;
    margin-left: 3px; }
  body .hover-24:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: 11px;
    margin-left: 6px; }
  body .hover-25:active ~ .eye .eye-inside .eye-really-inside {
    margin-top: 11px;
    margin-left: 9px; }
  body .hover-1:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: -3px;
    margin-left: -4px; }
  body .hover-2:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: -3px;
    margin-left: -2px; }
  body .hover-3:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: -3px;
    margin-left: 2px; }
  body .hover-4:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: -3px;
    margin-left: 6px; }
  body .hover-5:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: -3px;
    margin-left: 9px; }
  body .hover-6:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 2px;
    margin-left: -4px; }
  body .hover-7:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 2px;
    margin-left: -2px; }
  body .hover-8:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 0px;
    margin-left: 0px; }
  body .hover-9:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 2px;
    margin-left: 6px; }
  body .hover-10:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 2px;
    margin-left: 9px; }
  body .hover-11:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 6px;
    margin-left: -4px; }
  body .hover-12:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 6px;
    margin-left: -2px; }
  body .hover-13:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 6px;
    margin-left: 2px; }
  body .hover-14:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 6px;
    margin-left: 6px; }
  body .hover-15:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 6px;
    margin-left: 9px; }
  body .hover-16:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 9px;
    margin-left: -4px; }
  body .hover-17:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 9px;
    margin-left: -2px; }
  body .hover-18:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 9px;
    margin-left: 2px; }
  body .hover-19:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 9px;
    margin-left: 6px; }
  body .hover-20:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 9px;
    margin-left: 9px; }
  body .hover-21:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 11px;
    margin-left: -4px; }
  body .hover-22:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 11px;
    margin-left: -2px; }
  body .hover-23:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 11px;
    margin-left: 3px; }
  body .hover-24:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 11px;
    margin-left: 6px; }
  body .hover-25:active ~ .eye2 .eye-inside .eye-really-inside {
    margin-top: 11px;
    margin-left: 9px; }
  @media (max-width: 768px) {
    body {
      /* line 2 */
      /* line 3*/
      /* line 4 */
      /* line 5 */
      /* line 2 */
      /* line 3*/
      /* line 4 */
      /* line 5 */ }
      body .control {
        width: 18.7%;
        height: 10%; }
      body .hover-1:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: -1.5px;
        margin-left: -2px; }
      body .hover-2:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: -1.5px;
        margin-left: -1px; }
      body .hover-3:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: -1.5px;
        margin-left: 1px; }
      body .hover-4:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: -1.5px;
        margin-left: 3px; }
      body .hover-5:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: -1.5px;
        margin-left: 4.5px; }
      body .hover-6:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: 1px;
        margin-left: -2px; }
      body .hover-7:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: 1px;
        margin-left: -1px; }
      body .hover-8:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: 0px;
        margin-left: 0px; }
      body .hover-9:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: 1px;
        margin-left: 3px; }
      body .hover-10:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: 1px;
        margin-left: 4.5px; }
      body .hover-11:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: 3px;
        margin-left: -2px; }
      body .hover-12:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: 3px;
        margin-left: -1px; }
      body .hover-13:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: 3px;
        margin-left: 1px; }
      body .hover-14:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: 3px;
        margin-left: 3px; }
      body .hover-15:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: 3px;
        margin-left: 4.5px; }
      body .hover-16:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: 4.5px;
        margin-left: -2px; }
      body .hover-17:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: 4.5px;
        margin-left: -1px; }
      body .hover-18:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: 4.5px;
        margin-left: 1px; }
      body .hover-19:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: 4.5px;
        margin-left: 3px; }
      body .hover-20:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: 4.5px;
        margin-left: 4.5px; }
      body .hover-21:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: 5.5px;
        margin-left: -2px; }
      body .hover-22:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: 5.5px;
        margin-left: -1px; }
      body .hover-23:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: 5.5px;
        margin-left: 1.5px; }
      body .hover-24:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: 5.5px;
        margin-left: 3px; }
      body .hover-25:active ~ .eye .eye-inside .eye-really-inside {
        margin-top: 5.5px;
        margin-left: 4.5px; }
      body .hover-1:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: -1.5px;
        margin-left: -2px; }
      body .hover-2:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: -1.5px;
        margin-left: -1px; }
      body .hover-3:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: -1.5px;
        margin-left: 1px; }
      body .hover-4:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: -1.5px;
        margin-left: 3px; }
      body .hover-5:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: -1.5px;
        margin-left: 4.5px; }
      body .hover-6:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 1px;
        margin-left: -2px; }
      body .hover-7:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 1px;
        margin-left: -1px; }
      body .hover-8:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 0px;
        margin-left: 0px; }
      body .hover-9:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 1px;
        margin-left: 3px; }
      body .hover-10:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 1px;
        margin-left: 4.5px; }
      body .hover-11:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 3px;
        margin-left: -2px; }
      body .hover-12:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 3px;
        margin-left: -1px; }
      body .hover-13:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 3px;
        margin-left: 1px; }
      body .hover-14:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 3px;
        margin-left: 3px; }
      body .hover-15:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 3px;
        margin-left: 4.5px; }
      body .hover-16:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 4.5px;
        margin-left: -2px; }
      body .hover-17:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 4.5px;
        margin-left: -1px; }
      body .hover-18:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 4.5px;
        margin-left: 1px; }
      body .hover-19:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 4.5px;
        margin-left: 3px; }
      body .hover-20:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 4.5px;
        margin-left: 4.5px; }
      body .hover-21:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 5.5px;
        margin-left: -2px; }
      body .hover-22:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 5.5px;
        margin-left: -1px; }
      body .hover-23:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 5.5px;
        margin-left: 1.5px; }
      body .hover-24:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 5.5px;
        margin-left: 3px; }
      body .hover-25:active ~ .eye2 .eye-inside .eye-really-inside {
        margin-top: 5.5px;
        margin-left: 4.5px; } }
  body a.logo-link {
    position: absolute;
    padding-top: 3.4%;
    left: 37%;
    width: 30%;
    display: block;
    height: 14%;
    z-index: 2;
    /*above hover eyes 1*/
    /*  LOGO */ }

@-webkit-keyframes logoAppear {
  0% {
    width: 0%;
    top: 5%;
    opacity: 0;
    left: 35%; }
  50% {
    top: 7%;
    width: 80%;
    opacity: 0.4;
    left: 10%; }
  100% {
    top: 12%;
    width: 100%;
    opacity: 1;
    left: 0%; } }
    body a.logo-link img.logo-cruz {
      position: absolute;
      padding-top: 0%;
      left: 0%;
      width: 100%;
      display: block;
      margin: 0 auto;
      opacity: 0;
      animation: logoAppear 0.75s 1 linear;
      animation-delay: 3s;
      animation-fill-mode: both; }
      body a.logo-link img.logo-cruz:hover {
        opacity: 0.75; }
      body a.logo-link img.logo-cruz:active {
        opacity: 0.75; }
  body a img.logo-cruz:hover, body a img.logo-cruz:active {
    opacity: 0.75; }
  body a.logo-link:hover img.logo-cruz {
    opacity: 0.5; }
  body a.enter-link {
    cursor: pointer;
    position: absolute;
    padding-top: 126.4%;
    left: 36%;
    width: 27%;
    display: block;
    height: 14%;
    z-index: 3;
    /*above main logo on 2*/ }
    body a.enter-link img.enter-img {
      position: absolute;
      padding-top: 0%;
      left: 0%;
      width: 100%;
      display: block;
      margin: 0 auto; }
      body a.enter-link img.enter-img:hover {
        opacity: 0.55; }

@media (max-width: 768px) {
  body a.logo-link {
    position: absolute;
    top: -1%;
    left: 34%;
    width: 38%;
    height: 14%; } }
